{% extends 'layout.html' %}
{% block body %}

<div class="container position-absolute top-50 start-50 translate-middle" style="background-color: white; filter: opacity(87%); margin-top: 100px; border-radius: 35px;">
    <p class="h2 py-1" style="color: rgb(48, 14, 116); text-align: center;" >About Smart Attendance System</p>
    <div class="container my-3 p-3" style="margin-bottom: 50px ;">
        <p><strong>About Us</strong></p>
        <p>Welcome to the Smart Attendance System, where innovation meets security. We're dedicated to transforming the way attendance is managed with cutting-edge facial recognition technology and robust anti-spoofing techniques.</p>
        <p><strong>Our Mission</strong>
        <p>Our mission is simple yet powerful: to provide an attendance management solution that's not only efficient but also highly secure. We believe in leveraging technology to simplify processes and enhance security.</p>
        <p><strong>What Sets Us Apart?</strong>
        <ul>
        <li><strong>Facial Recognition:</strong> We use state-of-the-art facial recognition technology to accurately and quickly mark attendance. No more manual attendance registers or time-consuming roll calls.</li>

        <li><strong>Anti-Spoofing Techniques:</strong> Your security is our priority. Our system incorporates advanced anti-spoofing techniques to ensure that only genuine individuals can mark their attendance.</li>
        
        <li><strong>Real-Time Updates:</strong> Stay informed with real-time attendance updates. See who's present and who's absent, all at your fingertips.</li>
        </ul>
        <p><strong>Security Matters</strong>
        <p>We understand the importance of safeguarding your data. Our system incorporates robust security measures to protect your information and maintain the integrity of attendance records.</p>
        <p>Join us in revolutionizing attendance management with advanced technology and uncompromising security. Together, we'll shape a more efficient and secure future.</p>
    </div>
</div>

{% endblock body %}